@font-face {
  font-family: 'Selorya Sans';
  src: url('/assets/fonts/inter/inter-variable.ttf') format('truetype');
  font-display: block;
  font-style: normal;
  font-weight: 100 900;
}

:root {
  --font-sans: 'Selorya Sans', Arial, Helvetica, sans-serif;
}
